:root {
  --accent-color: #2196f3;
  --main-primary-color: #757575;
  --main-secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
}

/* ------COMMON------ */
body {
  color: var(--main-primary-color);
}
/* ------END COMMON------ */

/* ------HEADER------ */
.logo {
  color: #000000;
  text-decoration: none;
}

.logo .logo-first {
  color: var(--accent-color);
}

.nav-link {
  color: var(--main-secondary-color);
}

.nav-link.active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-item {
  color: var(--main-primary-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}
/* ------END HEADER------ */

/* ------HERO------ */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--secondary-accent-color);
}

.button {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}
/* ------END HERO------ */

/* ------ADVANTAGES------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  color: var(--main-secondary-color);
}
/* ------END ADVANTAGES------ */

/* ------OUR WORKS------ */
.title {
  color: var(--main-secondary-color);
}
/* ------END OUR WORKS------ */

/* ------OUR TEAM------ */
.team-title {
  color: var(--main-secondary-color);
}
